/* APPLICATION */
.section-application .btn {
  min-width: 148px;
  display: block;
}

.section-application .notification {
  cursor: auto;
}

.section-application .form-control {
  border-right: 1px solid rgb(103, 80, 249, 0.2);
}

.section-application .notification {
  background-color: rgb(251 251 251);
}

.section-application .circle {
  position: absolute;
  z-index: 0;
  top: 8px;
  left: 8px;
  margin: auto;
  margin-right: 0px;
  width: 42px;
  height: 42px;
  background: rgb(103, 80, 249, 0.8);
  border-radius: 6px 0px 50px 0px;
  transition: all 0.5s;
}

.section-application .circle i {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  color: #fff;
  align-items: center;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.modal-application .modal-dialog .btn-close {
  right: 8px;
  top: 8px;
}

.modal-application .bg-secondary {
  background-color: rgb(243 243 243) !important;
}

.modal-application .btn-success {
  min-width: 126px;
  max-width: 126px;
  border: 1px solid rgb(11 203 114) !important;
  background-color: rgb(11 203 114) !important;
  color: #fff !important;
}

.modal-application .btn-success:hover,
.modal-application .btn-success:focus,
.modal-application .btn-success:active {
  border: 1px solid rgba(11, 203, 114, 0.8) !important;
  background-color: rgba(11, 203, 114, 0.8) !important;
}

.modal-application .badge {
  font-size: 14px;
  padding: 12px;
}

.modal-application .badge i {
  font-size: 15px;
}

.section-application .unread {
  background-color: rgb(243 243 243);
}

.modal-application .flex-fill {
  min-width: 215px;
}

#toastMessage {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#toastMessage.show {
  opacity: 1;
}

.section-application .count {
  top: -11px;
  left: 6px;
  height: 20px;
  width: 20px;
  font-size: 11px;
}

@media screen and (max-width: 510px) {
  .btn-filter-tab {
    border-radius: 6px !important;
    min-width: 140px !important;
  }

  .btn-group {
    gap: 14px;
  }
}

#deleteConfirmModal .btn-close {
  font-size: 12px;
  top: 14px;
  right: 14px;
}

#deleteConfirmModal .confirm-delete {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #b02a37 !important;
  color: #b02a37 !important;
}
#deleteConfirmModal .confirm-delete:active,
#deleteConfirmModal .confirm-delete:hover,
#deleteConfirmModal .confirm-delete:focus {
  color: #fff !important;
  background-color: #b02a37 !important;
  border-color: #b02a37 !important;
}

.card-review .delete-btn:active {
  color: #fff !important;
  background-color: #b02a37 !important;
  border-color: #b02a37 !important;
}

/* Dropdown */
.custom-dropdown {
  background: #fff;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(103, 80, 249, 0.2);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
}

.dropdown-options {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid rgb(103, 80, 249, 0.2);
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
  z-index: 1000;
  max-height: 220px;
  overflow-y: auto;
}

.dropdown-options.show {
  display: block;
}

.dropdown-option {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
}

.dropdown-option:hover {
  background: rgb(243 243 243);
}

.dropdown-arrow i {
  transition: transform 0.3s ease;
}

.dropdown-arrow i.rotate:before {
  transform: rotate(180deg);
}

#sendReviewForm1 .custom-dropdown {
  border: 1px solid #6750f9;
}

#sendReviewForm1 .form-control {
  border: 1px solid #6750f9 !important;
}

/* Notification */
#sendReviewForm1 {
  padding: 0 12px;
}

.section-filter .btn {
  min-width: auto;
}

.notification-box .notification {
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
  pointer-events: auto;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  border: 1px solid #dddddd;
}

.unread .notification {
  background-color: rgb(243 243 243);
}

.read .notification {
  background-color: rgb(251 251 251);
}

.notification-box {
  margin-bottom: 3px !important;
  padding: 8px !important;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.notification-box.hide {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.notification-box .notification-inner {
  display: flex;
  align-items: flex-start;
}

.notification-box .notification-icon {
  flex-shrink: 0;
  row-gap: 10px;
  margin-top: 2px;
}

.notification-box .icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #34d399;
}

.notification-box .notification-text {
  padding-top: 0.125rem;
  margin-left: 0.75rem;
  flex: 1 1 0%;
  width: 0;
}

.notification-box .title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #111827;
}

.notification-box .subtitle {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6c6c6c;
}

.notification-box .notification-action {
  display: flex;
  margin-left: 1rem;
  flex-shrink: 0;
  position: relative;
  top: -5px;
  right: -5px;
}

.notification-box button {
  display: inline-flex;
  border-radius: 0.375rem;
  color: #505358;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.notification-box .notification-box button:hover {
  color: #6b7280;
}

.notification-box .x-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.dismiss-btn i {
  font-size: 20px;
  opacity: 0.5;
  transition: all 500ms ease;
}
.notification-action:hover i {
  opacity: 1;
  transform: scale(1.2);
}

/* REVIEW */
.card-review .card-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
}
.card-review .rating {
  color: #000;
}
.card-review {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  background-color: rgb(251 251 251);
}
.card-review .card-header,
.card-review .card-footer {
  border-top: 0 !important;
  border-bottom: 0;
}

.card-review .card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1280px) {
  .card-review .card-body {
    max-width: 75%;
  }
}

.card-review .card-text {
  margin: 0;
}

.card-review .text-muted {
  margin-top: auto;
}

/* Rating */

.rating .fa {
  color: #ffbf00;
}
.rating .fa-star-o {
  color: #ccc;
}
#rating-modal span {
  color: #ffbf00;
  font-size: 16px;
  letter-spacing: 4px;
}

#rating-modal span.fa-star-o {
  color: #ccc;
}

span.rating-text {
  color: #000 !important;
  font-weight: 400 !important;
}
.card-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
}
.card-header,
.card-footer {
  display: flex;
  align-items: center;
  border-top: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.btn-review-wrap {
  row-gap: 12px;
}

.modal-review .form-control::placeholder {
  font-weight: 400;
}

.modal-review .form-control {
  font-weight: 500 !important;
}

.show-more {
  cursor: pointer;
}
