html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

a,
.link-primary {
  color: #6750f9 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.btn {
  min-width: 160px;
}

.text-primary {
  color: #6750f9 !important;
}

.btn:hover {
  color: #fff !important;
  background-color: rgb(103, 80, 249, 0.9) !important;
  border-color: rgb(103, 80, 249, 0.9) !important;
}

.btn-primary {
  background-color: #6750f9 !important;
  border-color: #6750f9 !important;
}

.btn-outline-primary {
  color: #6750f9 !important;
  border-color: #6750f9 !important;
}

.border-primary-subtle {
  border-color: rgb(103, 80, 249, 0.3) !important;
}

.link-primary:focus,
.link-primary:hover {
  color: rgb(103, 80, 249, 0.8) !important;
}

.border-top {
  border-top-color: rgb(103, 80, 249, 0.3) !important;
}

/* Nav */
header .nav-link {
  text-decoration: none;
  color: #6750f9;
  position: relative;
}

header .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #6750f9;
  bottom: 0;
  left: 50%;
  transition: width 0.3s, left 0.3s;
  transform: translateX(0%);
}

header .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.logo-wrapp {
  font-size: 16px;
  opacity: 0.9;
}

.logo {
  width: 64px;
}

@media screen and (max-width: 580px) {
  .nav-right-button {
    margin: auto;
  }
}

/* Navbar */
.navbar-toggler {
  position: relative;
  width: 55px;
  height: 39px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-color: rgb(103, 80, 249, 0.3) !important;
}

.navbar-toggler span {
  width: 30px;
  height: 2px;
  background-color: rgb(103, 80, 249, 0.9) !important;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
  opacity: 0;
}
.navbar-toggler[aria-expanded="true"] span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-collapse.show {
  box-shadow: rgba(103, 80, 249, 0.25) 0px 0px 4px 1px;
  border-radius: 4px;
  padding: 8px;
}

/* End Nav */

/* Footer */
footer .nav-item {
  border-right: 1px solid rgb(103, 80, 249, 0.3);
  padding-right: 10px;
}

footer .nav-item:last-child {
  border-right: none;
}

footer a:hover {
  color: rgb(103, 80, 249, 1) !important;
}
/* End Footer */

/* Form */
.toggle-password {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
  pointer-events: none;
}

.form-control {
  border: 1px solid rgb(103, 80, 249, 0.2);
}

.form-control:focus {
  border-color: rgb(103, 80, 249, 0.25);
  box-shadow: 1px 1px 1px 1px rgb(103, 80, 249, 0.25);
}

input:-webkit-autofill {
  background-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill {
  background-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.or-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.or-container hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: rgb(103, 80, 249, 0.5);
}

.or-text {
  padding: 0 10px;
}
/* End Form */
