html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

a,
.link-primary {
  color: #6750f9 !important;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

*:focus-visible {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.text-primary {
  color: #6750f9 !important;
}

.form-check-input:checked {
  background-color: #6750f9 !important;
  border-color: #6750f9 !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.form-check-input {
  border-color: rgb(103, 80, 249, 0.3) !important;
}

.form-floating > .form-control:focus ~ label::after {
  box-shadow: 0 -2px 5px -3px rgb(103, 80, 249, 0.3) !important;
}

.form-floating label {
  font-size: 15px;
  line-height: 1.8 !important;
}

@media screen and (max-width: 480px) {
  .form-floating input,
  .form-floating label {
    font-size: 14px;
    line-height: 1.8 !important;
  }
}

.border-primary {
  border-color: rgb(103, 80, 249, 0.3) !important;
}

.btn {
  min-width: 160px;
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

.btn.delete-btn {
  color: #bb2d3b !important;
  background-color: transparent;
  border-color: #bb2d3b !important;
}
.btn.delete-btn:hover,
.btn.delete-btn:focus,
.btn.delete-btn:active {
  color: #fff !important;
  background-color: #b02a37 !important;
  border-color: #b02a37 !important;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #fff !important;
  background-color: rgb(103, 80, 249, 0.9) !important;
  border-color: rgb(103, 80, 249, 0.9) !important;
}

.btn:focus-visible {
  box-shadow: none;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: #6750f9 !important;
  color: #fff !important;
}

.btn-primary {
  background-color: #6750f9 !important;
  border-color: #6750f9 !important;
}

.btn-outline-primary {
  color: #6750f9 !important;
  border-color: #6750f9 !important;
}

.btn-outline-primary:focus {
  background-color: transparent !important;
  color: #6750f9 !important;
}

.border-primary-subtle {
  border-color: rgb(103, 80, 249, 0.3) !important;
}

.link-primary:focus,
.link-primary:hover,
.link-primary:active {
  color: rgb(103, 80, 249, 0.8) !important;
}

.border-top {
  border-top-color: rgb(103, 80, 249, 0.3) !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

@media screen and (max-width: 480px) {
  .dropdown-menu-end[data-bs-popper] {
    transform: translateX(28%);
  }
}

.bg-primary {
  background-color: #6750f9 !important;
}

/* Nav */
.nav-link:focus-visible {
  box-shadow: none;
}

header .nav-link {
  text-decoration: none;
  color: #6750f9;
  position: relative;
}

header .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #6750f9;
  bottom: 0;
  left: 50%;
  transition: width 0.3s, left 0.3s;
  transform: translateX(0%);
}

header .nav-link:hover::after,
header .nav-link:focus::after {
  width: 100%;
  left: 0;
}

.logo-wrapp {
  font-size: 16px;
  opacity: 0.9;
}

.logo {
  width: 132px;
}

@media screen and (max-width: 580px) {
  .nav-right-button {
    margin: auto;
  }
}

main.content {
  margin-top: 80px;
  transition: margin-top 0.3s ease-in-out;
}

/* Navbar */
@media screen and (max-width: 990px) {
  .nav-mobile {
    width: 100%;
  }
}

.navbar {
  transition: box-shadow 0.3s ease-in-out;
}

.navbar .container {
  padding: 0 15px;
}

.navbar.fixed-top {
  background: #fff;
}

.navbar-toggler {
  position: relative;
  width: 55px;
  height: 39px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-color: rgb(103, 80, 249, 0.3) !important;
}

.navbar-toggler span {
  width: 26px;
  height: 2px;
  background-color: rgb(103, 80, 249, 0.9) !important;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
  opacity: 0;
}
.navbar-toggler[aria-expanded="true"] span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-collapse {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.navbar-collapse.show {
  box-shadow: rgba(103, 80, 249, 0.25) 0 0 4px 1px;
  border-radius: 4px;
  padding: 8px;
}

.navbar.scrolled {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* End Nav */

/* Footer */
footer .nav-item {
  border-right: 1px solid rgb(103, 80, 249, 0.3);
  padding-right: 10px;
}

footer .nav-item:last-child {
  border-right: none;
}

footer a:hover,
footer a:focus {
  color: rgb(103, 80, 249, 1) !important;
}
/* End Footer */

/* Form */
.toggle-password {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
  pointer-events: none;
}

.form-control {
  border: 1px solid rgb(103, 80, 249, 0.2);
}

.form-control:focus {
  border-color: rgb(103, 80, 249, 0.25);
  box-shadow: 1px 1px 1px 1px rgb(103, 80, 249, 0.25);
}

input:-webkit-autofill {
  background-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill {
  background-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.or-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.or-container hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: rgb(103, 80, 249, 0.5);
}

.or-text {
  padding: 0 10px;
}
/* End Form */

/* Search bar */
.search-container {
  padding: 12px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 480px) {
  .search-container {
    padding: 20px;
  }
}

.input-group .form-control {
  border-right: none;
}

.input-group .btn {
  border-left: none;
}

.search-btn-input {
  min-width: 48px;
  border-radius: 0 8px 8px 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: rgb(103, 80, 249, 0.3);
}

/* VIDEO */
.video_wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding-top: 56.25%;
  background-color: #000;
  overflow: hidden;
  border-radius: 8px;
}

@media screen and (min-width: 991px) {
  .video_wrapper_full {
    padding-top: 380px;
  }
}

.videoIframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
}

.videoPoster {
  background-image: url("https://img.youtube.com/vi/G4cJ4wviwS8/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;

  filter: brightness(85%);
  transition: filter 0.3s ease, background-color 0.3s ease;
}

.videoPoster:hover,
.videoPoster:focus {
  cursor: pointer;
  filter: brightness(95%);
  background-color: rgba(255, 255, 255, 0.1);
}

.videoPoster:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-58%, -50%);
  width: 56px;
  height: 56px;
  border: 3px solid rgb(255, 255, 255, 0.85);
  border-radius: 100%;
  transition: border-color 300ms;
}

.videoPoster:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  border-left: 20px solid rgb(255, 255, 255, 0.85);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  transition: border-color 300ms;
}

@media screen and (min-width: 768px) {
  .videoPoster:before {
    width: 68px;
    height: 68px;
  }

  .videoPoster:after {
    border-left: 32px solid rgb(255, 255, 255, 0.85);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
}

.videoPoster:hover:before,
.videoPoster:focus:before {
  border-color: rgb(255, 255, 255, 1);
}

.videoPoster:hover:after,
.videoPoster:focus:after {
  border-left-color: rgb(255, 255, 255, 1);
}

.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  transition-delay: 0s, 800ms;
}
.videoWrapperActive .videoPoster {
  display: none;
}

/* Text Video */
dl.match-text {
  display: flex;
  flex-wrap: wrap;
}

.match-text dd {
  padding: 8px 0;
}

.match-text dt {
  width: 25px;
  color: #6750f9;
  font-weight: bold;
  font-size: 26px;
  position: relative;
  top: -2px;
  margin-right: 10px;
  text-align: center;
}

.match-text dd {
  width: calc(100% - 35px);
  margin: 0;
}

.title-letter {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .btn-contact {
    width: auto !important;
  }
}

@media screen and (min-width: 991px) {
  .btn-contact {
    margin-left: 0 !important;
  }
}

.title-cont {
  display: inline-block;
  font-weight: 700;
}

.registered {
  font-size: 17px;
  vertical-align: super;
}

/* SECTION PROFILE */

.notifications {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.notifications .count {
  position: absolute;
  z-index: 4;
  top: -10px;
  right: -5px;
  height: 17px;
  width: 17px;
  overflow: hidden;
  background: #6750f9;
  color: #fff;
  text-align: center;
  border-radius: 100%;
  font-size: 9px;
  font-weight: bold;
  line-height: 17px;
}

.notifications .fa {
  color: #6750f9;
  font-size: 24px;
}

.fa-bell-o {
  transition: transform 0.3s ease-in-out;
}

@keyframes bellRing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

a:hover .fa-bell-o {
  animation: bellRing 0.6s ease-in-out;
}

.read:hover,
.unread:hover,
.read:focus,
.unread:focus,
.read:active,
.unread:active,
.btn-notif {
  cursor: pointer;
}

.read {
  background-color: #fff;
}

.dropdown-notif {
  background-color: #fff;
  width: 290px;
}

.dropdown-box-text {
  width: 240px;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .dropdown-notif {
    width: 330px;
  }

  .dropdown-box-text {
    width: 280px;
  }
}

li:first-of-type .dropdown-item:hover {
  border-radius: 5px 5px 0 0;
}

.dropdown-notif .btn {
  border-radius: 0 0 5px 5px;
  border-color: rgb(103, 80, 249, 0.3) !important;
  background-color: #ece7f3;
}

.dropdown-notif .badge {
  width: 10px;
  height: 10px;
  padding: 0;
}

.section-profile form a {
  font-size: 15px;
}

#forgotPassword {
  font-size: 15px;
}

@media screen and (max-width: 480px) {
  .section-profile .form-floating {
    min-width: 68%;
  }

  .section-profile form a {
    font-size: 14px;
  }
}

/* SECTION FILTER + NOTIFICATION */
.section-filter .btn {
  min-width: auto;
}

.notification-box .notification {
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
  padding: 12px;
  pointer-events: auto;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  border: 1px solid #dddddd;
}

.unread .notification {
  background-color: rgb(243 243 243);
}

.read .notification {
  background-color: rgb(251 251 251);
}

.notification-box {
  margin-bottom: 3px !important;
  padding: 8px !important;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.notification-box.hide {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.notification-box .notification-inner {
  display: flex;
  align-items: flex-start;
}

.notification-box .notification-icon {
  flex-shrink: 0;
  row-gap: 10px;
  margin-top: 2px;
}

.notification-box .icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #34d399;
}

.notification-box .notification-text {
  padding-top: 0.125rem;
  margin-left: 0.75rem;
  flex: 1 1 0%;
  width: 0;
}

.notification-box .title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #111827;
}

.notification-box .subtitle {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6c6c6c;
}

.notification-box .notification-action {
  display: flex;
  margin-left: 1rem;
  flex-shrink: 0;
  position: relative;
  top: -5px;
  right: -5px;
}

.notification-box button {
  display: inline-flex;
  border-radius: 0.375rem;
  color: #505358;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.notification-box .notification-box button:hover {
  color: #6b7280;
}

.notification-box .x-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.dismiss-btn i {
  font-size: 20px;
  opacity: 0.5;
  transition: all 500ms ease;
}
.notification-action:hover i {
  opacity: 1;
  transform: scale(1.2);
}

/* REVIEW */
.card-review .card-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
}
.card-review .rating {
  color: #000;
}
.card-review {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  background-color: rgb(251 251 251);
}
.card-review .card-header,
.card-review .card-footer {
  border-top: 0 !important;
  border-bottom: 0;
}

.card-review .card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1280px) {
  .card-review .card-body {
    max-width: 75%;
  }
}

.card-review .card-text {
  margin: 0;
}

.card-review .text-muted {
  margin-top: auto;
}

/* Rating */

.rating .fa {
  color: #ffbf00;
}
.rating .fa-star-o {
  color: #ccc;
}
#rating-modal span {
  color: #ffbf00;
  font-size: 16px;
  letter-spacing: 4px;
}

#rating-modal span.fa-star-o {
  color: #ccc;
}

span.rating-text {
  color: #000 !important;
  font-weight: 400 !important;
}
.card-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
}
.card-header,
.card-footer {
  display: flex;
  align-items: center;
  border-top: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.btn-review-wrap {
  row-gap: 12px;
}

/* APPLICATION */

.search-application .form-control {
  border-right: 1px solid rgb(103, 80, 249, 0.2);
}
