/* TAGS */
#inputField {
  top: -15px;
  width: 112px;
}

#inputFieldLanguages {
  top: -14px;
  width: 132px;
}

.dropdown-tags .tags-container,
#selectedLanguages {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(103, 80, 249, 0.3);
  padding: 5px 22px 5px 5px;
  min-height: 50px;
  cursor: pointer;
  align-items: center;
  position: relative;
}
.dropdown-tags .tag,
#selectedLanguages .tag {
  font-size: 15px;
  background: #fff;
  color: #6750f9;
  padding: 0 7px;
  border-radius: 10px;
  margin: 3px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(103, 80, 249, 0.3);
}
.dropdown.dropdown-tags {
  position: relative;
}
.dropdown-tags .dropdown-menu,
#languagesMenu {
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid rgb(103, 80, 249, 0.3);
  z-index: 1000;
  max-height: 180px;
  overflow-y: auto;
}
.dropdown-tags .dropdown-menu div,
#languagesMenu div {
  padding: 6px 8px;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
}
.dropdown-tags .dropdown-menu div:hover,
#languagesMenu div:hover {
  background: #f1f1f1;
}
.dropdown-tags input[type="text"],
#selectedLanguages input {
  border: none;
  outline: none;
  display: block !important;
}

.dropdown-tags .hidden,
.dropdown-languages .hidden {
  display: none;
}

.dropdown-tags .bi-x {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .modal-class .modal-dialog {
    max-width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .modal-class .modal-dialog {
    max-width: 68%;
  }
}

@media screen and (min-width: 1280px) {
  .modal-class .modal-dialog {
    max-width: 58%;
  }
}

.schedule-col {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: -50px;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  background-color: #fff;
  border-radius: 6px;
}

.schedule-col {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s ease 0.3s;
}

.schedule-col.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease 0s;
}

@media screen and (min-width: 768px) {
  .schedule-col {
    bottom: -32px;
  }
}

/* Toast */
.toast {
  background: #fff;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
  border-left-color: #329f5d;
  border-left-width: 4px;
  border-top-color: #ade7c4;
  border-right-color: #ade7c4;
  border-bottom-color: #ade7c4;
}

.toast .btn-close {
  top: 8px;
  right: 8px;
  font-size: 9px;
}

.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1055;
}

.btn-danger:focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus-within,
:not(.btn-check) + .btn-danger:active {
  background-color: #bb2d3b !important;
  border-color: #bb2d3b !important;
}

.class-col,
.program-col,
.available-col,
.price-col {
  flex: 1 !important;
}

.actions-col {
  flex: 0 0 auto !important;
  width: auto;
  display: flex;
  align-self: end;
}

@media screen and (min-width: 768px) {
  .actions-col {
    align-self: center;
  }
}

@media screen and (max-width: 420px) {
  #saveButton,
  #resetButton {
    width: 100%;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-check-label {
  color: rgb(103, 80, 249);
}

.form-check-label.unchecked {
  color: #212529;
}
