/* ACCORDION */
.accordion-button:not(.collapsed) {
  background: #e9ecef;
  border-color: #e9ecef;
  color: #212529;
}

.accordion-button {
  background: #f8f9f9;
}

.program-container {
  width: 100% !important;
}

/* UPLOAD AVATAR */
.avatar-container {
  position: relative;
  cursor: pointer;
}
.avatar-container img {
  width: 100%;
  height: 100%;
  max-width: 116px;
  object-fit: cover;
  border: 1px solid rgb(103, 80, 249, 0.2);
}

@media screen and (min-width: 520px) {
  .avatar-container img {
    max-width: 140px;
    width: 140px;
    height: 140px;
  }
}
.upload-logo {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: 0;
  width: 100%;
  font-size: 14px;
  min-width: auto;
}

.dropdown-toggle::after {
  display: none;
}

/* DAYS/FROM/TO */
.ampm-display {
  position: absolute;
  left: 69px;
  top: 72%;
  transform: translateY(-50%);
  width: 40px;
  text-align: center;
  border: 1px solid transparent;
  padding: 0;
  pointer-events: none;
}

.section-days-time .dropdownMenuButton {
  border: 1px solid rgb(103, 80, 249, 0.2) !important;
  color: #212529 !important;
}

.section-days-time .dropdownMenuButton:hover,
.section-days-time .dropdownMenuButton:focus,
.section-days-time .dropdownMenuButton:active,
.section-days-time .dropdownMenuButton:focus-visible {
  border: 1px solid rgb(103, 80, 249, 0.2) !important;
  background-color: transparent !important;
  color: #212529 !important;
}

.section-days-time .dropdown-header:hover {
  cursor: pointer;
}

.dropdownMenuButton .bi-chevron-down {
  display: none;
}

#streetSuggestions li {
  cursor: pointer;
}

/* TAGS */
#inputField {
  top: -15px;
  width: 112px;
}

#inputFieldLanguages {
  top: -14px;
  width: 132px;
}

.dropdown-tags .tags-container,
#selectedLanguages {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(103, 80, 249, 0.3);
  padding: 5px 22px 5px 5px;
  min-height: 50px;
  cursor: pointer;
  align-items: center;
  position: relative;
}
.dropdown-tags .tag,
#selectedLanguages .tag {
  font-size: 15px;
  background: #fff;
  color: #6750f9;
  padding: 0 7px;
  border-radius: 10px;
  margin: 3px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(103, 80, 249, 0.3);
}
.dropdown.dropdown-tags {
  position: relative;
}
.dropdown-tags .dropdown-menu,
#languagesMenu {
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid rgb(103, 80, 249, 0.3);
  z-index: 1000;
  max-height: 180px;
  overflow-y: auto;
}
.dropdown-tags .dropdown-menu div,
#languagesMenu div {
  padding: 6px 8px;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
}
.dropdown-tags .dropdown-menu div:hover,
#languagesMenu div:hover {
  background: #f1f1f1;
}
.dropdown-tags input[type="text"],
#selectedLanguages input {
  border: none;
  outline: none;
  display: block !important;
}

.dropdown-tags .hidden,
.dropdown-languages .hidden {
  display: none;
}

.dropdown-tags .bi-x {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .modal-class .modal-dialog {
    max-width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .modal-class .modal-dialog {
    max-width: 68%;
  }
}

@media screen and (min-width: 1280px) {
  .modal-class .modal-dialog {
    max-width: 58%;
  }
}

.schedule-col {
  /* display: none; */
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: -50px;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  background-color: #fff;
  border-radius: 6px;
}

.schedule-col {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s ease 0.3s;
}

.schedule-col.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease 0s;
}

@media screen and (min-width: 768px) {
  .schedule-col {
    bottom: -32px;
  }
}

/* Toast */
.toast {
  background: #fff;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
  border-left-color: #329f5d;
  border-left-width: 4px;
  border-top-color: #ade7c4;
  border-right-color: #ade7c4;
  border-bottom-color: #ade7c4;
}

.toast .btn-close {
  top: 8px;
  right: 8px;
  font-size: 9px;
}

.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1055;
}

.btn-danger:focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus-within,
:not(.btn-check) + .btn-danger:active {
  background-color: #bb2d3b !important;
  border-color: #bb2d3b !important;
}

.class-col,
.program-col,
.available-col,
.price-col {
  flex: 1 !important;
}

.actions-col {
  flex: 0 0 auto !important;
  width: auto;
  display: flex;
  align-self: end;
}

@media screen and (min-width: 768px) {
  .actions-col {
    align-self: center;
  }
}

@media screen and (max-width: 420px) {
  #saveButton,
  #resetButton {
    width: 100%;
  }
}

/* PHOTO */
.delete-image {
  right: 4px;
  top: 4px;
  background: #fdfdfd;
  opacity: 0.8;
  border-radius: 4px;
  padding: 2px;
}

/* CARD TEAM*/
.card-team {
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  background-color: rgb(251 251 251);
  border-radius: 6px;
}

.card-team img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

@media screen and (max-width: 420px) {
  .card-team img {
    width: 60px;
    height: 60px;
  }
}

.show-more {
  cursor: pointer;
}

.boxInner img {
  object-fit: cover;
  max-height: 280px;
}

@media screen and (min-width: 580px) {
  .boxInner img {
    max-height: 210px;
  }
}

@media screen and (min-width: 992px) {
  .boxInner img {
    max-height: 280px;
  }
}

/* SHOW More/Less */
.text-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  transition: max-height 0.4s ease-in-out;
}

.text-content.expanded {
  -webkit-line-clamp: unset;
  max-height: none;
}

.show-more:hover {
  text-decoration: underline;
}

.excerpt-hidden {
  height: 4.2rem;
  overflow: hidden;
  position: relative;
}

.excerpt-visible {
  height: auto;
  overflow: auto;
}

.text-wrap {
  height: auto;
}

#scheduleBlocks3 .dropdown-menu {
  display: none;
}

#scheduleBlocks3 .dropdown-menu.d-flex {
  display: flex !important;
}
