.card-provider {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  background-color: rgb(251 251 251);
}

.card-header,
.card-footer {
  background-color: rgb(251 251 251);
}

.card-provider .card-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
}

@media screen and (min-width: 520px) {
  .card-provider .card-avatar {
    width: 72px;
    height: 72px;
  }
}

.rating .fa {
  color: #ffbf00;
}

.rating .fa-star-o {
  color: #ccc;
}

/* Modal Dropdown */
.custom-dropdown {
  background: #fff;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(103, 80, 249, 0.2);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid rgb(103, 80, 249, 0.2);
  z-index: 10;
  overflow: hidden;
}

.dropdown-options.open {
  display: block;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f1f1f1;
}

.custom-dropdown {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-arrow {
  transition: transform 0.3s ease;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

/* Modal Waiting */
.modal-waiting .modal-dialog .btn-close {
  right: 8px;
  top: 8px;
}

.modal-waiting .bg-secondary {
  background-color: rgb(243 243 243) !important;
}

.modal-waiting .btn-success {
  min-width: 126px;
  max-width: 126px;
  background-color: #0dcaf0 !important;
  border-color: #0dcaf0 !important;
  color: #fff !important;
}

.modal-waiting .btn-success:hover,
.modal-waiting .btn-success:focus,
.modal-waiting .btn-success:active {
  background-color: #31d2f2 !important;
  border-color: #31d2f2 !important;
}

.modal-waiting .badge {
  font-size: 14px;
  padding: 12px;
}

.modal-waiting .badge i {
  font-size: 15px;
}

.section-waiting .unread {
  background-color: rgb(243 243 243);
}

.modal-waiting .flex-fill {
  min-width: 215px;
}

.ampm-display {
  position: absolute;
  left: 12px;
  top: 72%;
  transform: translateY(-50%);
  width: 85px;
  text-align: center;
  border: 1px solid transparent;
  padding: 0;
  pointer-events: none;
}

/* Toast */
#toastMessage {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#toastMessage.show {
  opacity: 1;
}

.btn-button-sent .btn-close,
.btn-close-request {
  font-size: 12px;
  top: 14px;
  right: 14px;
}

.btn-button-sent,
:not(.btn-check) + .btn-button-sent:active {
  color: #fff !important;
  background-color: rgb(11 203 114) !important;
  border-color: rgb(11 203 114) !important;
  cursor: default !important;
  min-width: 120px;
}
.btn-button-sent:active,
.btn-button-sent:hover,
.btn-button-sent:focus {
  color: #fff !important;
  background-color: rgba(11, 203, 114, 0.8) !important;
  border-color: rgba(11, 203, 114, 0.8) !important;
}

.btn-button-waiting,
:not(.btn-check) + .btn-button-waiting:active {
  color: #fff !important;
  background-color: #0dcaf0 !important;
  border-color: #0dcaf0 !important;
  cursor: default !important;
  min-width: 120px;
}
.btn-button-waiting:active,
.btn-button-waiting:hover,
.btn-button-waiting:focus {
  color: #fff !important;
  background-color: #31d2f2 !important;
  border-color: #31d2f2 !important;
}

@media screen and (min-width: 992px) {
  .btn-modal-email,
  .btn-modal-request {
    width: 100%;
  }
}

/* Icon heart */
.bi-heart {
  color: #d1d1d1;
  cursor: pointer;
  transition: color 0.3s ease;
}

.bi-heart.active {
  color: #e74c3c;
}

.text-success {
  color: rgb(11 203 114) !important;
}

/* DROPDOWN EMAIL */

.dropdown-email .custom-dropdown .dropdown-arrow {
  font-size: 16px;
  color: #ccc;
  transition: transform 0.3s ease-in-out;
}

.dropdown-email .custom-dropdown.open + .dropdown-options {
  display: block;
}

.dropdown-email .custom-dropdown.open .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-email .dropdown-toggle i:before {
  transition: transform 0.3s ease;
}
.dropdown-email .dropdown-toggle.open i:before {
  transform: rotate(180deg);
}

.dropdown-email .dropdown-toggle::after {
  display: none;
}

.dropdown-email .rotate-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.tag {
  font-size: 15px;
  background: #fff;
  color: #6750f9;
  padding: 4px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(103, 80, 249, 0.3);
}

/* REVIEW */
.card-review .card-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
}
.card-review .rating {
  color: #000;
}
.card-review {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
}
.card-review .card-header,
.card-review .card-footer {
  border-top: 0 !important;
  border-bottom: 0;
}

.card-review .card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1280px) {
  .card-review .card-body {
    max-width: 75%;
  }
}

.card-review .card-text {
  margin: 0;
}

.card-review .text-muted {
  margin-top: auto;
}

/* Rating */

.rating .fa {
  color: #ffbf00;
}
.rating .fa-star-o {
  color: #ccc;
}
#rating-modal span {
  color: #ffbf00;
  font-size: 16px;
  letter-spacing: 4px;
}

#rating-modal span.fa-star-o {
  color: #ccc;
}

span.rating-text {
  color: #000 !important;
  font-weight: 400 !important;
}
.card-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
}
.card-review .card-header,
.card-review .card-footer {
  display: flex;
  align-items: center;
  border-top: 0 !important;
  background-color: transparent;
}

/* TAGS */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border: 1px solid rgb(103, 80, 249, 0.2);
  border-radius: 5px;
  min-height: 40px;
  padding: 4px;
  cursor: text;
  position: relative;
  align-items: center;
  background-color: #fff;
}

.placeholder {
  color: #aaa;
  background-color: transparent;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.tag-benefits {
  font-size: 15px;
  background: #fff;
  color: #6750f9;
  padding: 0 7px;
  border-radius: 10px;
  margin: 3px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(103, 80, 249, 0.3);
}

.tag-benefits i {
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
}

.tag-input {
  border: none;
  outline: none;
  flex-grow: 1;
  min-width: 100px;
  background-color: transparent;
}

/* DISCOUNT SECTION */
@media (min-width: 768px) {
  .discount-section .input-group {
    width: 50%;
  }
}

/* CARD */
.schedule-col {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto !important;
}
